extends layout

block content
  h1= title
  ul
  svg(width='200' height='500')

  style.
    .bar {
      fill: green;
    }

    .highlight {
      fill: red;
    }

    .title {
      fill: blue;
      font-weight: bold;
    }

  script.
    var data = !{populations};
    $.each(data, (index, d) => {
      console.log(d);
    });
    var barHeight = 20;
    var bar = d3.select('svg')
      .selectAll('rect')
      .data(data)
      .enter()
      .append('rect')
      .attr('width', function (d) {
        return d.population;
      })
      .attr('height', barHeight - 1)
      .attr('transform', function (d, i) {
        return 'translate(0,' + i * barHeight + ')';
      }).on('mouseover', function(d) {
        d3.select(this).attr('fill', 'orange');
      }).on('mouseout', function(d){
        d3.select(this).attr('fill', 'black');
      });