extends layout

block content
  h1 Coronavirus (COVID-19)
  #demo-wrapper
  #mapBox.position-relative
    .selector.d-none
      button#btn-prev-map.prev-next
        i.fa.fa-angle-left
      select#mapDropdown.ui-widget.combobox
      button#btn-next-map.prev-next
        i.fa.fa-angle-right
    #container
    #statistics.position-absolute
      h5#confirm-cases.mb-0.font-weight-bold
      small Confirmed Cases
      h5#deaths.mb-0.mt-3.font-weight-bold
      small Deaths
    #reset-zoom.position-absolute
      img(src='/images/world.png')

  table#countries-statistic.table.table-striped.table-bordered
    thead
    tbody

  select#all-countries
  #trend-chart

  script(src='/highcharts/highmaps.js')
  script(src='/javascripts/jquery-ui.js')
  script(src='/javascripts/jquery.combobox.js')

  script.
    var global_data = !{global_data};

  script(src='/javascripts/index.js')
