extends layout

block content

  #demo-wrapper
  #mapBox
    .selector.d-none
      button#btn-prev-map.prev-next
        i.fa.fa-angle-left
      select#mapDropdown.ui-widget.combobox
      button#btn-next-map.prev-next
        i.fa.fa-angle-right
    #container
  #sideBox
    input#chkDataLabels(type='checkbox' checked='checked')
    label(for='chkDataLabels' style='display: inline') Data labels
    #infoBox
      h4 This map
      #download

  table#countries-statistic.table.table-striped.table-bordered(style='width:100%')
    thead
    tbody

  script(src='/highcharts/highmaps.js')
  script(src='/javascripts/jquery-ui.js')
  script(src='/javascripts/jquery.combobox.js')

  script.
    var global_data = !{global_data};

  script(src='/javascripts/index.js')
