extends layout

block content
  h1= title
  p Welcome to #{title}
  table#countries-statistic.table.table-striped.table-bordered(style='width:100%')
    thead
    tbody

  script.
    var global_data = !{global_data};

  script(src='/javascripts/index.js')
