extends layout

block content
  h1= title
  p Welcome to #{title}

  #demo-wrapper
  #mapBox
    #up
    .selector
      button#btn-prev-map.prev-next
        i.fa.fa-angle-left
      select#mapDropdown.ui-widget.combobox
      button#btn-next-map.prev-next
        i.fa.fa-angle-right
    #container
  #sideBox
    input#chkDataLabels(type='checkbox' checked='checked')
    label(for='chkDataLabels' style='display: inline') Data labels
    #infoBox
      h4 This map
      #download

  table#countries-statistic.table.table-striped.table-bordered(style='width:100%')
    thead
    tbody

  script(src='/highcharts/highmaps.js')
  script(src='/javascripts/jquery-ui.js')
  script(src='/javascripts/jquery.combobox.js')
  link(href='/stylesheets/jquery-ui.css' rel='stylesheet')
  link(href='/font-awesome/css/font-awesome.min.css' rel='stylesheet')

  script.
    var global_data = !{global_data};
  script(src='/javascripts/index.js')
