doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/datatables_bs4/css/dataTables.bootstrap4.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/jquery/jquery.min.js')
    script(src='/datatables/js/jquery.dataTables.min.js')
    script(src='/datatables_bs4/js/dataTables.bootstrap4.min.js')
    script(src='/javascripts/main.js')
  body
    #loader-background
      #loader
    #main.animate-bottom
      block content
